{{message}}
<form action="" method="POST">
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label>New Password:</label>
        <input type="password" name="newPassword"/>
    </div>
    <div>
        <label>Confirm New Password:</label>
        <input type="password" name="confirmPassword"/>
    </div>
    <div>
        <label>First Name:</label>
        <input type="text" name="firstname"/>
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="lastname"/>
    </div>
    <div>
        <label>Address:</label>
        <input type="text" name="address"/>
    </div>
    <div>
        <label>Zip Code:</label>
        <input type="text" name="zip"/>
    </div>
    <div>
        <label>City:</label>
        <input type="text" name="city"/>
    </div>
    <div>
        <label>State:</label>
        <input type="text" name="state"/>
    </div>
    <div>
        <label>Country:</label>
        <input type="text" name="country"/>
    </div>
    <div>
        <input type="submit" value="Change"/>
    </div>
</form>
<form action="/logout" method="GET">
    <div>
        <input type="submit" value="logout"/>
    </div>
</form>
