<div>success</div>
<div>current user:</div>
<pre>{{user}}</pre>
<div>schedules in the user's building:</div>
<pre>{{schedules}}</pre>

<form action="/logout" method="GET">
    <div>
        <input type="submit" value="logout"/>
    </div>
</form>
