<form action="reset_password" method="POST">
    <div>
        <p>{{message}}</p>
        <div name="username" style="display: none;" width="100%">{{username}}</div>
        <p>new Password</p>
        <input type="text" name="password1" value="{{password1}}"/>
        <p>Confirm Password</p>
        <input type="text" name="password2" value="{{password2}}"/>
    </div>
    <br />
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
